

/* one item styles */
.v-hidden{
  visibility: hidden!important;
}

.col-md-6.col-lg-4.col-6{
  padding: 0;
}
.item-outer-container{
  order: 99999;
}
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  margin: 5px;
  background-color: var(--my-white);
}
.item-img{
  width: 100%; 
}
.item-img img{
  width: 100%;
  min-height: 160px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.item-data{
  width: 100%;
  color: var(--my-black);
  padding: 5px;
  border: 2px solid var(--my-light);
  border-top: none;
  border-bottom-right-radius: var(--b-raduis-b);
  border-bottom-left-radius: var(--b-raduis-b);
}
.item-name{
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: -10px;
  height: 60px;
  display: flex;
  align-items: center;
}
.item-des{
  max-height: 0px;
  overflow: hidden;
  transition: all .5s linear;
  margin-bottom: 5px;
}
.showed-des{
  max-height: 200px;
  padding-top: 10px;
  font-size: 1.02rem;
}
.toggle-des{
  color: var(--my-light);
  margin-bottom: 0;
}
.dis-none{
  display: none;
}
.item-price{
  color: #fff;
  padding: 5px;
  text-align: center;
  margin: 5px 0;
  min-height: 46.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-price-table {
  flex-grow: 1;
}
.item-price-col{
  color: #fff;
  padding: 5px;
  margin: 5px 0 0 5px;
  text-align: center;
  font-size: 14px;
}
.item-price-table:last-of-type .item-price-col{
  margin-left: 0;
}
@media (max-width:380px){
  .le{
    display: none;
  }
}