/* footer styles */
footer{
  position: fixed;
  bottom: 0;
  display: flex!important;
  background: #fff;
  width: 100%;
  justify-content: space-around;
}
footer > div{
  padding: 20px;
  transition: all .3s ease-in-out;
  font-size: 14px;
  width: 25%;
}
.the-active-route{
  color: #fff;
}
footer div img{
  margin: auto 0;
  max-width: 60%;
}
/* .my-btn{
  background-color: var(--my-dark);
  margin: 10px 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
} */