/* styles for next& prev buttons of the carousel */
.next-btn, .prev-btn{
  position: absolute;
  background: url('~@/assets/media/right-arrow.svg');
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(0 , -50%);
}
.prev-btn {
  right: 3px;
}
.next-btn{
  left: 3px;
  transform: rotate(180deg) translate(0 , 50%);
}
.error-p{
  color: #fff;
  font-size: 20px;
}

/* search input field & btn */
.search-input{
  display: block;
  padding: 10px;
  border: none;
  width: 100%;
}

.btn:focus{
  outline: none!important;
  box-shadow: 0px 0px 1px .5px var(--my-lightest)!important;
}

/* loading SVG */
.loading-1, .loading-2, .loading-3, .loading-4 {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 0px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('~@/assets/media/loading.svg');
  transition: width .3s linear;
}

/* some shared styles all over the app */
.feedback form input:focus, 
.feedback form textarea:focus, 
.form-control:focus, 
.reg-form form input:focus, 
.search-input:focus{
  outline: none!important;
  box-shadow: 0px 0px 1px 1px var(--my-black)!important;
}
.confirm-btns, 
.rating-container output, 
.my-btn, 
.item-price, 
.search-input, 
.reg-form form input, 
.reg-btn{
  border-radius: 2rem!important;
}

.my-btn, 
.home-btns li > * , 
.carousel-link, 
.menu-section-link, 
.reg-btn{
  color: var(--my-black)!important;
}

.feedback form input, 
.feedback form textarea, 
.my-margin, 
.reg-btn, 
.reg-form form input{
  margin: 10px auto!important;
}

.rating-container, 
.feedback form input, 
.feedback form textarea, 
.reg-btn, 
.reg-form form input, 
.my-btn, 
.home-btns li > *{
  width: 90%!important;
}

.carousel-link, 
.item-price, 
.item-price-col, 
.menu-section-link, 
.submit-btn,
.black-bg{
  background-color: var(--my-black)!important;
}

.cancel-btn, 
.the-active-route, 
.menu-section-link:hover, 
.my-btn, 
.home-btns li:last-of-type a{
  background: var(--my-light)!important;
  color: #fff!important;
}

.menu-section-link,
.item-price-col,
.carousel-link{
  border-radius: var(--b-raduis);
}

.confirm-box,
.item-container,
.item-img img,
.special-img img {
  border-radius: var(--b-raduis-b);
}



