/* global css rules and variables */

/* font registeration */
@import url('../font/font-face.css');

*{
  font-family: 'Tajawal', sans-serif;
}

/* fading effect for router transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* my root variables */
:root{
  --my-black : #1b1b1b;
  --my-white : #ffffff;
  --my-lightest : #e5e5e5;
  --my-light : #fca311;
  --my-dark : #f3f3f3;
  --b-raduis : 10px;
  --b-raduis-b : 15px;
}

/* body & app styles */

/* body{
  min-height: 100vh;
  background-image: linear-gradient(rgb(0 0 0 / 45%),rgb(0 0 0 / 45%)), url('./media/bg3.jpg') !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.back-ground{
  z-index: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: linear-gradient(rgb(0 0 0 / 45%),rgb(0 0 0 / 45%)), url('./media/25192f4eda302e18aece7516878ae9e5.jpg') !important; */
}

.back-ground img{
  width: 100vw;
  height: 100vh;
  filter: brightness(50%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#to-top{
  transition: all .5s ease-in-out;
  opacity: 0;
  background-image: url(./media/right-arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 115px;
  right: 20px;
  height: 35px;
  width: 35px;
  transform: rotate(-90deg);
  z-index: 4;
}

/* some globally used calsses */
@import url('./componentsCss/globalStyles.css');

/* media queries */
@media(min-width:768px){
  .item-img img{
    height: 235px!important;
  }
}