.outer-item-container{
  padding: 10px;
}
.special-img img{
  height: 250px!important;
}
.special-i-d{
  width: 100%;
}
.special-i-n{
  margin-bottom: 1rem!important;
  font-size: 1.35rem!important;
}
.special-i-des{
  max-height: unset!important;
  margin-bottom: 1rem!important;
}
.menu-section-link{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  transition: all .2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none!important;
  color: var(--my-dark)!important;
  border: 2px solid var(--my-dark);
}
.menu-section-link img{
  margin-bottom: 5px;
  max-width: 50px;
}
.special img{
  width: 100%;
  height: 150px;
}
.item-old-price{
  margin: 0;
  text-decoration: line-through;
}
.old-pice{
  text-decoration: line-through;
}
.padding-0{
  padding: 0!important;
}